body{
	
	background-color: skyblue;
}

H1 {
	font-size: 40px;
	text-align: center;
	color: white;
}

H2 {
	font-style: #fff;
	color: red;
	font-family: "times new roman";
	font-size: 3em;
	text-align:  center;
}